name: Machine Learning Workflow CI

on:
  push:
    branches: [ main ]

jobs:
  train-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          # Menggunakan versi stabil sesuai saran agar tidak error
          pip install mlflow==2.19.0 dagshub scikit-learn pandas numpy

      - name: Run MLflow Project
        env:
          MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_PASSWORD }}
        run: |
          # Menggunakan ./ dan --env-manager local untuk kestabilan di GitHub Actions
          mlflow run ./MLProject_Folder -e main --env-manager local

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          # Membangun image dari folder proyek
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/spotify-model:latest ./MLProject_Folder

      - name: Push Docker Image
        run: |
          # Mengirim image ke Docker Hub
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/spotify-model:latest
