name: Machine Learning Workflow CI

on:
  push:
    branches: [ main ]

jobs:
  train-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: pip install mlflow dagshub scikit-learn pandas numpy

      - name: Run MLflow Project
        env:
          MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_PASSWORD }}
        run: |
          mlflow run MLProject_Folder/ -e main --no-conda

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          # Ganti 'ridhoksatrio' dengan username Docker Hub Anda
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/spotify-model:latest ./MLProject_Folder
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/spotify-model:latest
